// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    display: flex;
}

.card {
    flex: 1;
    margin: 10px;
}

.card-body {
    border: 1px solid light-grey;
}

.flat-details {
    background-color: #F8F9FA;
    
}

i { vertical-align: bottom !important; }

.flat-link {
    color: #076BD1;
}